<div class="row stretch">
    <div class="col-xs-12 col-md-7 event-page">
        <div class="container">
            <div class="row artist-info justify-content-center">
                <div class="col-xs-12 col-md-6" >

                    <img class="event-img" src="{{event.images.[0].url}}" alt="Event img">
                </div>
                <div class="col-xs-12 col-md-6">
                    <h4 class="text-center">{{event._embedded.attractions.[0].name}}</h4>
                    <p><span>Fecha</span>: {{event.dates.start.localDate}}</p>
                    <p><span>Sala/Local</span>: {{event._embedded.venues.[0].name}}</p>
                    <p><span>Ciudad</span>: {{event._embedded.venues.[0].city.name}}</p>
                    <p><span>Hora</span>: {{event.dates.start.localTime}}</p>
                    <p><span>Genero</span>: {{event.classifications.[0].genre.name}}</p>
                    <a href="{{event.url}}">Comprar entrada</a>

                </div>
            </div>
            <p><span>Dirección:</span> {{place.formatted_address}}</p>

            <figure id="event-map"></figure>

            <a class="btn btn-outline-dark" href="/eventos/{{normCity}}">Regresar</a>

        </div>
    </div>




    <div class="col-xs-12 col-md-5 tracks-preview event-page">
        <div class="container">
            <div class="row flex-column align-items-center">

               
                
                {{#each tracks}}
                {{#if preview_url}}
                <h6>{{name}}</h6>
                <audio class="track" src="{{preview_url}}" controls></audio>
                {{/if}}
                {{/each}}
                <a class="d-block" href="{{artist.external_urls.spotify}}" target="_blank"><img
                        src="/images/spotify-logo.png" alt="Spotify Logo"></a>

            </div>
        </div>
    </div>

</div>






<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="/javascripts/tm-map-config.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={{mapsKey}}&callback=initMap"></script>