
<div class="container">
    <div class="row admin-page justify-content-center text-center div-wrapper d-flex align-items-center">
        <div class="col-xs-12 col-md-7 user-container">
            <h3>Solicitudes de registro</h3>
            <div class="user-container-items">

            {{#each artists}}
                <hr>
                <h5>{{artisticName}} - ({{artistType}})</h5>
                <p>{{userInfo.email}}</p>
                <div class="my-event-btn">
                <form action="/usuario/admin-page/update/{{id}}" method="POST">
                    <button type="submit" class="btn btn-outline-success">Aceptar</button>
                </form>
                <form action="/usuario/admin-page/delete/{{id}}" method="POST">
                    <button type="submit" class="btn btn-outline-danger">Rechazar</button>
                </form>
                </div>
            {{/each}}

            </div>
        </div>

        <div class="admin-title-container col-xs-12 col-md-5">
            <img class="admin-logo" src="../images/bolo-wizard-logo-black.svg" alt="Logo">
            <h2>Página de administración</h2>
        </div>
    </div>
</div>


