<h1>Admin page</h1>

{{#each artists}}
<h4>{{artisticName}}</h4>
<p>{{artistType}}</p>
<p>{{approve}}</p>
<form action="/usuario/admin-page/update/{{id}}" method="POST">
    <button type="submit">Approve</button>
</form>
<form action="/usuario/admin-page/delete/{{id}}" method="POST">
    <button type="submit">Decline</button>
</form>
{{/each}}