<h1>Edita tu perfil {{artisticName}}</h1>

<form action="/usuario/editar/{{id}}" method="POST">
    <div>
        <label for="artisticName">Nombre de artista / banda</label>
        <input type="text" name="artisticName" id="artisticName" value="{{artisticName}}">
    </div>
    <div>
        <label for="genre">Género musical</label>
        <input type="text" name="genre" id="genre" value="{{genre}}">
    </div>
    <div>
        <label for="img">Imagen de perfil</label>
        <input type="text" name="img" id="img" value="{{img}}">
    </div>
    <div>
        <label for="spotifyURL">Perfil de artista de Spotify</label>
        <input type="text" name="spotifyURL" id="spotifyURL" value="{{spotifyURL}}">
    </div>
    <div>
        <label for="youtubeChannel">Canal de youtube</label>
        <input type="text" name="youtubeChannel" id="youtubeChannel" value="{{youtubeChannel}}">
    </div>
    <div>
        <label for="facebookPage">Página de facebook</label>
        <input type="text" name="facebookPage" id="facebookPage" value="{{facebookPage}}">
    </div>
    <div>
        <label for="description">Descripción de artista</label>
        <input type="text" name="description" id="description" value="{{description}}">
    </div>

    <button type="submit">Guardar cambios</button>
</form>
<a href="/usuario/perfil">Regresar a perfil</a>