<div class="container form-margin">
    <div class="row justify-content-center">
        <div class="col-6">
            
            <h3>Editar evento</h3>

            <form action="/usuario/mi-evento/editar/{{event.id}}" method="POST">
                <div class="form-group">
                    <label for="title">Título del evento</label>
                    <input type="title" id="title" name="title" value="{{event.title}}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="date">Fecha del evento</label>
                    <input type="datetime-local" id="date" name="date" value="{{trueDate}}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="city">Ciudad</label>
                    <input type="String" id="city" name="city" value="{{event.city}}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="place">¿En dónde es tu evento?</label>
                    <input type="text" id="place" name="place" value="{{event.place}}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="latitude">Longitud</label>
                    <input type="number" id="latitude" name="latitude" step="any" value="{{event.location.coordinates.[0]}}" class="form-control">
                </div>

                <div class="form-group">
                    <label for="longitude">Latitud</label>
                    <input type="number" id="longitude" name="longitude" step="any" value="{{event.location.coordinates.[1]}}" class="form-control">
                    <small>Para ubicar el evento, entra a Google Maps y con el click derecho te aparecerán las coordenadas de Latitud y Longitud.</small>
                </div>

                <div class="form-group">
                    <label for="img">¿El evento tiene una foto o imagen promocional? Comparte aquí la URL</label>
                    <input type="text" id="img" name="img" value="{{event.img}}" class="form-control">
                </div>

                <button type="submit" class="my-event-btn btn btn-dark btn-block">Create event</button>
            </form>
            <a href="/usuario/perfil" class="my-event-btn btn btn-outline-dark">Regresar a perfil</a>

        </div>
    </div>
</div>





{{#if errorMsg}}
<div class="error-message">{{ errorMsg }}</div>
{{/if}}