<h1>Perfil de {{user.artisticName}}</h1>
<img src="{{user.img}}" alt="{{user.artisticName}}">

<article class="about-me">
    <ul>
        <li>Género: {{user.genre}}</li>
        <li>Descripción: {{user.description}}</li>
        <li>Mi Spotify: {{user.spotifyURL}}</li>
        <li>Mi Youtube Channel: {{user.youtubeChannel}}</li>
        <li>Mi página de Facebook: {{user.facebookPage}} </li>
    </ul>
</article>

{{#each events}}
<p>{{title}}</p>
<a href="/usuario/mi-evento/editar/{{id}}">Editar</a>
<form action="/usuario/mi-evento/eliminar/{{id}}" method="POST">
    <button type="submit">Eliminar</button>
</form>
{{/each}}

<a href="/usuario/mi-evento">Crea un nuevo evento</a> |
<a href="/usuario/editar/{{user.id}}">Edita tu perfil</a>