<div class="container profile">

    <div class="row">

        <div class="col-xs-12 col-md-5">

            <img class="profile-img" src="{{user.img}}" alt="{{user.artisticName}}">
            <h2>{{user.artisticName}}</h2>
            <a class="btn btn-dark mb-2" href="/usuario/editar/{{user.id}}">Edita tu perfil</a>
            <article class="about-me">
            
                <p><strong>Género:</strong> {{user.genre}}</p>
                <p><strong>Descripción:</strong>  {{user.description}}</p>
                <div class="social-media-icons">
                    <a href="{{user.spotifyURL}}" class="spotify-color"><img src="../images/spotify-color-logo.png" alt="Spotify icon"></a>
                    <a href="{{user.youtubeChannel}}" class="youtube-logo"><img src="../images/youtube.png" alt="Youtube icon"></a>
                    <a href="{{user.facebookPage}}" class="facebook-logo"><img src="../images/facebook-logo-2.png" alt="Facebook icon"></a>
                </div>
            
            </article>

        </div>

        <div class="col-xs-12 col-md-7 user-container">
            <h3>Tus eventos</h3>
            <a class="btn btn-dark mb-2" href="/usuario/mi-evento">Nuevo evento</a>
            {{#each events}}
            <article class="user-container-items">

                <hr>
                <h5>{{title}}</h5>
                <p>{{date}}</p>
                <div class="my-event-btn">
                    <a href="/usuario/mi-evento/editar/{{id}}" class="btn btn-outline-dark">Editar</a>
                    <form action="/usuario/mi-evento/eliminar/{{id}}" method="POST">
                        <button type="submit" class="btn btn-outline-danger">Eliminar</button>
                    </form>
                </div>

            </article>
            {{/each}}
        </div>

    </div>

</div>

{{>footers}}
